md-content
  md-tabs.md-accent.md-hue-3(md-align-tabs="top", md-dynamic-height, md-no-select-click='true', md-selected="selected")
    md-tab(ng-repeat='endpoint in endpoints', md-on-select="onSelectTab($index)", label="{{ endpoint.label }}")
  md-content
    ui-view
