md-content.task-list(ng-cloak='')
  md-list(flex='')
    md-list-item.md-2-line(ng-repeat='task in tasks', class="{{task.attributes.status}}")
      img.md-avatar(ng-src="{{task.attributes.image}}")
      .md-list-item-text(layout='row')
        .md-list-item-text(layout='column')
          h3 {{ task.attributes.label }}
          .md-list-item-text.tags(layout='row')
            small
              md-chips(ng-model="task.tags", readonly='true')
          
        .md-list-item-text(layout='column')
          h3.right {{ task.attributes.due_date_in_words }}
      md-divider(inset='')
